body {
    font-family: 'Poppins', sans-serif;
}

.flexible {
    display: flex;
    margin-bottom: 3%;
}

.more {
    width: 50%;
    padding-right: 30px;
    padding-left: 70px;
    padding-top: 5px;

}

.social-box h1 {
    font-size: 40px;
    text-align: center;
}




.first-box {
    padding-top: 5px;
}

.box {
    width: 40%;
    padding-left: 5%;

}

.top-title {
    font-size: 60px;
    font-weight: 600;
    color: rgba(61, 55, 55, 0.855);
    font-family: 'Poppins', sans-serif;


}

.dif-color {
    color: rgba(71, 255, 230, 0.843);
}

.discription {
    color: rgba(61, 55, 55, 0.855);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 10%;
}

.box img {
    width: 115%;
    padding-left: 4%;

}

.brand {
    padding-top: 8%;
    padding-left: 8%;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 164, 240), rgb(127, 205, 203));
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 30px;
    font-weight: 600;

}

.third-box {
    background-image: url(shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

.quality {
    margin-bottom: 20%;
}

.resturent {
    font-size: 40px;
    margin-top: 20%;
}

.resipies-discription {
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}

#our {
    font-size: 30px;
    font-weight: 800;
    color: rgb(49, 47, 47);
}


.resipies {


    width: 30%;
    padding: 20px;

    border-radius: 5%;
    box-shadow: 0 0 20px black;
    margin: 20px;
}

.resipies img {
    width: 80%;
    padding-left: 10%;
    padding-top: 5%;

}

.forth-box {
    padding-left: 5%;
}

.discription-resi {
    color: rgba(0, 0, 0, 0.882);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 10%;
}

.Fifth-box img {
    width: 30%;
    padding-left: 35%;

}

.Fifth-box {
    padding-right: 15%;
}

footer {
    background-color: rgb(16, 11, 29);
    text-align: center;
    padding: 10%;

}

footer h1 {
    font-size: 60px;
    color: aliceblue;
}

footer h4 {
    font-size: 15px;
    font-weight: 300;
    color: antiquewhite;
}

footer a {
    text-decoration: none;
}